.not-found-conatiner {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-color: black;
}
.not-found-img {
  width: 40%;
}
